FORMAT: 1A
HOST: https://api.ehealth.gov.ua/

# MEDICAL EVENTS MIS API

**Version: 9.13.0**

Environment: **DEMO**

> Read more about eHealth API Manifest [here](https://ehealthapimanifest.docs.apiary.io/#introduction/interacting-with-api)

All the medical data, stored in eHealth, belongs to the patient and must be properly protected. eHealth provides several mechanisms to secure patient's data and limitate access.

1. Only authenticated user with appropriate scope can access medical data
List of scopes available for the specific user role can be recieved using [/roles endpoint](https://ehealthmisapi1.docs.apiary.io/#reference/public.-medical-service-provider-integration-layer/roles/list-roles) [wiki: Scopes data model](https://e-health-ua.atlassian.net/wiki/spaces/EH/pages/583404101/Scopes+model)
2. Access to Patient Medical Data is driven by Attribute-based access control(ABAC). Rules [https://e-health-ua.atlassian.net/wiki/spaces/EH/pages/17049388207/ABAC+rules+EN]
3. Patient is able to grant access to specific episode(s) for specific users. User with this approval can view episode details and its nested entities
4. Post methods are async

![Access policy](https://image.ibb.co/fOPoTV/Referrals-Medical-events-usage.png)


## About ABAC
Some routes in eHealth are managed not only by scope-based  model, but Atribute Bаsed Access Control (ABAC) model.
Routes, that responds with lists, are not designed to cut responses automatically(show only allowed items). In order to access list, user should specify filters (search params) to cut entities that are not allowed by ABAC rules. 
For example,
- to access this route:
 `/patient/{patient_id}/conditions`
user should have approval on ALL patients medical data, otherwise the response will be 403.
- But, by specifinig filters, user can access requested data, if one of the ABAC rules returns true:
 `/patient/{patient_id}/conditions?episode_context={episode_1}`

Here you can find the list of current [rules](https://e-health-ua.atlassian.net/wiki/spaces/EH/pages/17049388207/ABAC+rules+EN).

## About Forbidden Groups filtration
Some routes in eHealth are managed not only by scope-based  model and ABAC rules, but Forbidden Groups model.

After successfull access with ABAC response will be filtered according to [Medical Events filtration by Forbidden groups](https://e-health-ua.atlassian.net/wiki/spaces/EH/pages/5056954517/Medical+Events+filtration+by+Forbidden+groups+EN)

# Group Medical Events
Medical events API is a set of web services designed to provide methods of communication between eHealth Medical Data Storage and medical information systems (MIS).
Medical events API is based on the international framework for exchanging digital health records - FHIR( Release 3 (STU)). Most of  major resources, data types, data structures and their way of interpretation are inherited from FHIR. However, there are minor сhanges described in Apiary.
To find out more about business logic behind the API read [this](https://e-health-ua.atlassian.net/wiki/spaces/EH/pages/583402836/Medical+Events+API).
###Sequence diagram
In order to provide a consistency of submitted data the established flow should be followed:
![Contract request flow](https://www.websequencediagrams.com/cgi-bin/cdraw?lz=dGl0bGUgU3VibWl0dGluZyBtZWRpY2FsIGRhdGEgcGFja2FnZQoKcGFydGljaXBhbnQgTUlTIGFzIG1zcAAKDWVIZWFsdGggYXMgZWgABgUAKQ1Eb2N1bWVudCBzdG9yYWdlIGFzAAMICgoKbXNwLT4AMAc6IDw8U2VhcmNoIGZvciBhIHBlcnNvbj4-CgBRBy0-bXNwOiA8PFJlc3BvbnNlIHdpdGgAIAdzIGlkcz4-Cm9wdABIDjw8Q3JlYXRlIGVwaXNvZGUARAwAgSoHIDoAHAdhc3luYyBqb2IAZQ4AaghkAGsGam9iIGlkADUTOiAAXQ4AgU4RR2V0ADkFYnkAMg8AgUwNAFwLZGV0YWlscz4-CmVuZACBSBRVcGQAdGgAXQ4AgQxQAIQFBgCDXAUAgygIbmNvdW50ZXIAhQYJABkKU2lnbgAJGACEQwwAhVsFADgSAIMwVACFWQc6IFNhdmUgc2lnbmVkIGNvbnRlbnQgdG8AhWwJAIQjElByb2Nlc3MAgS0ZAIN7OwCFehRsb3MAhSZnAF4MAIVATAoKCgoKCgoK&s=modern-blue)

## Encounter Data Package [/api/patients/{id}/encounter_package]

### Submit Encounter Package [POST]

Using this web service you can submit:

Object| Required| Part of Signed content
-------|---------|------
Visit| 0-1 | false
Encounter| 1-1 |true
Condition| 0-* |true
Observation| 0-* |true
Allergy intolerance| 0-* |true
Immunization| 0-* |true
Risk assessment|0-*| true
Device|0-*| true
Medication statement|0-*|true
Medication administration|0-*|true
Diagnostic report|0-*| true
Procedure|0-*| true
Clinical impression|0-*| true
Specimen|0-*| true
Device dispense| 0-*| true
Device association|0-*| true
Detected issue|0-*| true


You can send the same request (with the same body) multiple times, but a new job will not be created before previous is not performed.

To find out more about the process of encounter package creation read [Confluence Submit Encounter Data Package ](https://e-health-ua.atlassian.net/wiki/spaces/EH/pages/17061216257/Submit+Encounter+Package).



+ Request Package (application/json)

    + Headers

            Authorization: Bearer mF_9.B5f-4.1JqM
            X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4
            
    + Attributes (object)
        + include `Submit_Encounter_Package`

+ Response 202 (application/json)
    + Attributes (Response_OK)
        + meta (Response__Meta)
            + code: 202 (number)
        + data (`Job`)

+ Response 404 (application/json)
    + Attributes (Response_Error)
        + meta (Response__Meta)
            + code: 404 (number)
        + error (Response__Error)
            + type: NOT_FOUND (string)
            + message: `Patient not found` (string)



### Get async Job processing details [GET /api/jobs/{id}]
This resource should be used to get the processing status of the async job.

>Read more about [job processing algorithms.](https://e-health-ua.atlassian.net/wiki/spaces/EH/pages/583402225/Medical+events+Technical+Documentation)



+ Parameters
    + id: `NBXk9EyErUZv1RhXgyvgg` (string, required) - request identifier

+ Request (application/json)

    + Headers

            Authorization: Bearer 342432fdsfdsgfdt24535422fgds
            X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Response 200 (application/json)
    + Attributes (Response_OK)
        + meta (Response__Meta)
            + code: 200 (number)
        + data (`Job`)

+ Response 303 (application/json)
    + Attributes (Response_OK)
        + meta (Response__Meta)
            + code: 303 (number)
        + data (`Job`)
            + status: `processed`
            + status_code: `200`
            + links (array, required, fixed-type)
                + (object)
                    + entity: `encounter` (string, required)
                    + href: `{host}/api/patients/3da18c10-d2ca-469e-bde5-7413201cea2/encounters/90a9e15b-b71b-4caf-8f2e-ff247e8a5600` (string, required)
                + (object)
                    + entity: `condition` (string, required)
                    + href: `{host}/api/patients/3da18c10-d2ca-469e-bde5-7413201cea2/conditions/df112200-64da-451b-bf77-8e7655bbd48f` (string, required)
                + (object)
                    + entity: `observation` (string, required)
                    + href: `{host}/api/patients/3da18c10-d2ca-469e-bde5-7413201cea2/observations/d118cc02-3b9b-4d1a-b728-eda4e3d58f25` (string, required)
                + (object)
                    + entity: `allergy_intolerance` (string, required)
                    + href: `{host}/api/patients/3da18c10-d2ca-469e-bde5-7413201cea2/allergy_intolerances/5f41c64a-6742-4d6d-9f3b-c6742b2ee0a1` (string, required)
                + (object)
                    + entity: `immunization` (string, required)
                    + href: `{host}/api/patients/3da18c10-d2ca-469e-bde5-7413201cea2/immunizations/12e5985d-2a79-452f-8bc4-ed3a02fdefc5` (string, required)
                + (object)
                    + entity: `risk_assessment` (string, required)
                    + href: `{host}/api/patients/3da18c10-d2ca-469e-bde5-7413201cea2/risk_assessments/22e5985d-2a79-452f-8bc4-ed3a02fdefc5` (string, required)
                + (object)
                    + entity: `device` (string, required)
                    + href: `{host}/api/patients/3da18c10-d2ca-469e-bde5-7413201cea2/devices/32e5985d-2a79-452f-8bc4-ed3a02fdefc5` (string, required)
                + (object)
                    + entity: `medication_statemet` (string, required)
                    + href: `{host}/api/patients/3da18c10-d2ca-469e-bde5-7413201cea2/medication_statemets/42e5985d-2a79-452f-8bc4-ed3a02fdefc5` (string, required)
                + (object)
                    + entity: `medication_administration` (string, required)
                    + href: `{host}/api/patients/3da18c10-d2ca-469e-bde5-7413201cea2/medication_administration/42e5985d-2a79-452f-8bc4-ed3a02fdefc5` (string, required)
                + (object)
                    + entity: `diagnostic_report` (string, required)
                    + href: `{host}/api/patients/3da18c10-d2ca-469e-bde5-7413201cea2/diagnostic_reports/42e5985d-2a79-452f-8bc4-ed3a02fdefc5` (string, required)
                + (object)
                    + entity: `procedure` (string, required)
                    + href: `{host}/api/patients/3da18c10-d2ca-469e-bde5-7413201cea2/procedure/42e5985d-2a79-452f-8bc4-ed3a02fdefc5` (string, required)
                + (object)
                    + entity: `specimen` (string, required)
                    + href: `{host}/api/patients/3da18c10-d2ca-469e-bde5-7413201cea2/specimens/42e5985d-2a79-452f-8bc4-ed3a02fdefc6` (string, required)
                + (object)
                    + entity: `device_dispense` (string, required)
                    + href: `{host}/api/patients/3da18c10-d2ca-469e-bde5-7413201cea2/device_dispenses/42e5985d-2a79-452f-8bc4-ed3a02fdefc6` (string, required)
                + (object)
                    + entity: `device_association` (string, required)
                    + href: `{host}/api/patients/3da18c10-d2ca-469e-bde5-7413201cea2/device_associations/42e5985d-2a79-452f-8bc4-ed3a02fdefc6` (string, required)
                + (object)
                    + entity: `detected_issue` (string, required)
                    + href: `{host}/api/patients/3da18c10-d2ca-469e-bde5-7413201cea2/detected_issues/42e5985d-2a79-452f-8bc4-ed3a02fdefc6` (string, required)
                

+ Response 403 (application/json)
    + Attributes (Response_OK)
        + data (`Job_Error_403`)
        + meta (Response__Meta)
            + code: 200 (number)

+ Response 409 (application/json)
    + Attributes (Response_OK)
        + data (`Job_Error_409`)
        + meta (Response__Meta)
            + code: 200 (number)

+ Response 422 (application/json)
    + Attributes (Response_OK)
        + data (`Job_Error_422`)
        + meta (Response__Meta)
            + code: 200 (number)

+ Response 404 (application/json)
    + Attributes (Response_OK)
        + data (`Job_Error_404`)
        + meta (Response__Meta)
            + code: 404 (number)
   
+ Response 500 (application/json)
    + Attributes (Response_OK)
        + data (`Job_Error_404`)
        + meta (Response__Meta)
            + code: 500 (number)

### Dummy Encounter Package [POST]
- If `encounter.class.code:"INPATIENT"`, **priority** for encounter is required 
- If `encounter.class.code:"PHC"`, **reasons** for encounter is required
- `hospitalization` may be present only with `encounter.class.code:"INPATIENT"`
- Fields `encounter.hospitalization.admit_source`, `encounter.hospitalization.discharge_disposition` and `encounter.hospitalization.discharge_department` should be required if parameter `encounter.type.coding.code = discharge`.

+ Request Encounter with new Condition (application/json)

    + Headers

            Authorization: Bearer mF_9.B5f-4.1JqM
            X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4
            
    + Attributes (Encounter_Request)
        
    
#### Dummy Condition [POST]

This chapter describes the structure of a single unsigned condition that could be submitted as a part of Encounter Package. This is not an actual web-service.

+ Request (application/json)

    + Headers

            Authorization: Bearer mF_9.B5f-4.1JqM
            X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4
            
    + Attributes (`Condition_Request`)
    
    
#### Dummy Observation [POST]

This chapter describes the structure of a single unsigned observation that could be submitted as a part of Encounter Package. This is not an actual web-service.

+ Request General (application/json)

    + Headers

            Authorization: Bearer mF_9.B5f-4.1JqM
            X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4
            
    + Attributes (`Observation_Request_1`)

+ Request EDP Observation with Components - ASIA (application/json)

    + Headers

            Authorization: Bearer mF_9.B5f-4.1JqM
            X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4 
            
    + Attributes (`Observation_Request_ASIA`)

+ Request EDP Observation with Components and extensions - Bartel (application/json)

    + Headers

            Authorization: Bearer mF_9.B5f-4.1JqM
            X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4 
            
    + Attributes (`Observation_Request_Bartel`)

#### Dummy Immunization [POST]
This chapter describes the structure of a single unsigned immunization that could be submitted as a part of Encounter Package. This is not an actual web-service.

+ Request  (application/json)

    + Headers

            Authorization: Bearer mF_9.B5f-4.1JqM
            X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4
            
    + Attributes (`Immunization_Request`) 
    
#### Dummy Allergy_Intolerance [POST]
This chapter describes the structure of a single unsigned allergy_intolerance that could be submitted as a part of Encounter Package. This is not an actual web-service.

+ Request  (application/json)

    + Headers

            Authorization: Bearer mF_9.B5f-4.1JqM
            X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4
            
    + Attributes (`Allergy_Intolerance_Request`)

#### Dummy Risk_Assessment [POST]
This chapter describes the structure of a single unsigned risk_assessment that could be submitted as a part of Encounter Package. This is not an actual web-service.

+ Request  (application/json)

    + Headers

            Authorization: Bearer mF_9.B5f-4.1JqM
            X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4
            
    + Attributes (`Risk_Assessment_Request`)

#### Dummy Device [POST]
This chapter describes the structure of a single unsigned device that could be submitted as a part of Encounter Package. This is not an actual web-service.

+ Request  (application/json)

    + Headers

            Authorization: Bearer mF_9.B5f-4.1JqM
            X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4
            
    + Attributes (`Device_Request`)


#### Dummy Medication Stetement [POST]
This chapter describes the structure of a single unsigned medication statement that could be submitted as a part of Encounter Package. This is not an actual web-service.

+ Request  (application/json)

    + Headers

            Authorization: Bearer mF_9.B5f-4.1JqM
            X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4
            
    + Attributes (`Medication_Statement_Request`)
    
    
#### Dummy Diagnostic report [POST]
This chapter describes the structure of a single unsigned diagnostic report that could be submitted as a part of Encounter Package. This is not an actual web-service.

+ Request  (application/json)

    + Headers

            Authorization: Bearer mF_9.B5f-4.1JqM
            X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4
            
    + Attributes (`Diagnostic_Report_EncounterPCG_Request`)


#### Dummy Procedure [POST]
This chapter describes the structure of a single unsigned procedure that could be submitted as a part of Encounter Package. Procedure in Encounter Package does not need to have reference to Service Request. This is not an actual web-service.

+ Request  (application/json)

    + Headers

            Authorization: Bearer mF_9.B5f-4.1JqM
            X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4
            
    + Attributes (`Procedure_EncounterPCG_Request`)  

#### Dummy Medication Administration [POST]
This chapter describes the structure of a single unsigned medication that could be submitted as a part of Encounter Package. This is not an actual web-service.

+ Request  (application/json)

    + Headers

            Authorization: Bearer mF_9.B5f-4.1JqM
            X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4
            
    + Attributes (`Medication_Administration_EncounterPCG_Request`) 

#### Dummy Clinical Impression [POST]
This chapter describes the structure of a single unsigned clinical impression that could be submitted as a part of Encounter Package. This is not an actual web-service.

+ Request  (application/json)

    + Headers

            Authorization: Bearer mF_9.B5f-4.1JqM
            X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4
            
    + Attributes (`Clinical_Impression_EncounterPCG_Request`)

#### Dummy Specimen [POST]
This chapter describes the structure of a single unsigned Specimen that could be submitted as a part of Encounter Package. This is not an actual web-service.

+ Request  (application/json)

    + Headers

            Authorization: Bearer mF_9.B5f-4.1JqM
            X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4
            
    + Attributes (`Specimen_EDP_Request`)
            


#### Dummy Device Dispense [POST]
This chapter describes the structure of a single unsigned Device Dispense that could be submitted as a part of Encounter Package. This is not an actual web-service.

+ Request  (application/json)

    + Headers

            Authorization: Bearer mF_9.B5f-4.1JqM
            X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4
            
    + Attributes (`Device_Dispense_EncounterPCG_Request`)


#### Dummy Device Association [POST]
This chapter describes the structure of a single unsigned device association that could be submitted as a part of Encounter Package. This is not an actual web-service.

+ Request  (application/json)

    + Headers

            Authorization: Bearer mF_9.B5f-4.1JqM
            X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4
            
    + Attributes (`Device_assosiation_request`)


#### Dummy Detected Issues [POST]
This chapter describes the structure of a single unsigned detected issue that could be submitted as a part of Encounter Package. This is not an actual web-service.

+ Request  (application/json)

    + Headers

            Authorization: Bearer mF_9.B5f-4.1JqM
            X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4
            
    + Attributes (`Detected_issue_Request`)
    

### Cancel Encounter Package [PATCH]
Read more about [business logic and validations.](https://e-health-ua.atlassian.net/wiki/spaces/EH/pages/17061314561/Cancel+Encounter+Package)
+ Request Package (application/json)

    + Headers

            Authorization: Bearer mF_9.B5f-4.1JqM
            X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4
            
    + Attributes (object)
        + signed_data: `ew0KICAicGVyaW9kIjogew0KIC...` (string, required)

+ Response 202 (application/json)
    + Attributes (Response_OK)
        + meta (Response__Meta)
            + code: 202 (number)
        + data (`Job`)

+ Response 404 (application/json)
    + Attributes (Response_Error)
        + meta (Response__Meta)
            + code: 404 (number)
        + error (Response__Error)
            + type: NOT_FOUND (string)
            + message: `Patient not found` (string)


### Cancel Encounter Package Dummy[PATCH]
+ Request (application/json)

    + Headers

            Authorization: Bearer mF_9.B5f-4.1JqM
            X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4
            
    + Attributes (`Cancel_Encounter`) 

+ Response 200 (application/json)
   

## Episode of Care [/api/patients/{id}/episodes]
Episode of care is a resource that contains general information about a patient`s medical case, such as care manager and diagnoses history.
### Create Episode  [POST]
Read more about [business logic and validations.](https://e-health-ua.atlassian.net/wiki/spaces/EH/pages/583402023/Create+Episode)
+ Request (application/json)

    + Headers

            Authorization: Bearer mF_9.B5f-4.1JqM
            X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4
            
    + Attributes (object)
        + include `Episode_Of_Care_Request`

+ Response 202 (application/json)
    + Attributes (Response_OK)
        + meta (Response__Meta)
            + code: 202 (number)
        + data (`Job`)

+ Response 404 (application/json)
    + Attributes (Response_Error)
        + meta (Response__Meta)
            + code: 404 (number)
        + error (Response__Error)
            + type: NOT_FOUND (string)
            + message: `Patient not found` (string)

### Get Episode by id[GET /api/patients/{patient_id}/episodes/{episode_id}]

+ Parameters
    + `patient_id`: `70a9e15b-b71b-4caf-8f2e-ff247e8a5677` (string, required) - Patient identifier
    + `episode_id`: `70a9e15b-b71b-4caf-8f2e-ff247e8a5677` (string, required) - Episode identifier

+ Request (application/json)
    + Headers

            Authorization: Bearer mF_9.B5f-4.1JqM
            X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Response 200 (application/json)
    + Attributes (`Response_OK`)
        + data(`Episode_Of_Care_Response`)
    

### Get Episodes by search params [GET /api/patients/{patient_id}/episodes{?period_from,period_to,status,care_team,part_of,page,page_size}]
Use period_from period_to to find episodes that were active in a certain period of time


**Scopes required:** `episode:read`

+ Parameters
    + `patient_id`: `70a9e15b-b71b-4caf-8f2e-ff247e8a5677` (string, required) - Patient identifier
    + `period_from`: `2017-01-01` (string, optional)
    + `period_to`: `2018-01-01` (string, optional)
    + `code`: `R80` (string, optional)
    + `status`: `active` (string, optional)
    + `care_team`: `70a9e15b-b71b-4caf-8f2e-ff247e8a5677` (string, optional)
    + `part_of`: `70a9e15b-b71b-4caf-8f2e-ff247e8a5677` (string, optional)
    + `managing_organization_id`: `80a9e15b-b71b-4caf-8f2e-ff247e8a5677` (string, optional)    
    + `page`: 2 (number, optional) - Page number
    + `page_size`: 50 (number,optional) - A limit on the number of objects to be returned, between 1 and 100. Default: 50

+ Request (application/json)
    + Headers
    
            Authorization: Bearer mF_9.B5f-4.1JqM
            api-key: aFBLVTZ6Z2dON1V
            X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4
            

+ Response 200 (application/json)
    + Attributes (`Response_Collection`)
        + data(array[`Episode_Of_Care_Response`])
        


### Get Approved Episodes [GET /api/patients/{patient_id}/episodes/approved]

This web service returns episodes, that patient gave approvals to read by a current employee.
**Scopes required:** `episode:read`

+ Parameters
    + `patient_id`: `70a9e15b-b71b-4caf-8f2e-ff247e8a5677` (string, required) - Patient identifier
    + `page`: 2 (number, optional) - Page number
    + `page_size`: 50 (number,optional) - A limit on the number of objects to be returned, between 1 and 100. Default: 50
    + `code` : `R80` (string, optional) - current diagnosis code

+ Request (application/json)
    + Headers
    
            Authorization: Bearer mF_9.B5f-4.1JqM
            api-key: aFBLVTZ6Z2dON1V
            X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Response 200 (application/json)
    + Attributes (`Response_Collection`)
        + data(array[`Episode_Of_Care_Response`])

  
### Get Short Episodes by Diagnoses Groups [GET /api/patients/{patient_id}/diagnoses_groups/episodes{?period_from,period_to,diagnoses_group_id,managing_organization_id,page,page_size}]

This web service returns brief information of episodes grouped by Groups of Diagnoses, for which patient gave approvals to read by a current employee.
Access to full episode data is restricted by patient's approval.
If you have an approval - you can obtain episode details and nested entities through `/episode/:id/*` web services.
**Scopes required:** `episode:read`

+ Parameters
    + `patient_id`: `70a9e15b-b71b-4caf-8f2e-ff247e8a5677` (string, required) - Patient identifier
    + `period_from`: `2022-01-01` (string, optional)
    + `period_to`: `2023-01-01` (string, optional)
    + `diagnoses_group_id`: `80a9e15b-b71b-4caf-8f2e-ff247e8a5677` (string, optional)
    + `managing_organization_id`: `80a9e15b-b71b-4caf-8f2e-ff247e8a5677` (string, optional)
    + `page`: 2 (number, optional) - Page number
    + `page_size`: 50 (number,optional) - A limit on the number of objects to be returned, between 1 and 100. Default: 50

+ Request (application/json)
    + Headers
    
            Authorization: Bearer mF_9.B5f-4.1JqM
            api-key: aFBLVTZ6Z2dON1V
            X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Response 200 (application/json)
    + Attributes (`Response_Collection`)
        + data(array[`Episode_Of_Care_Short_With_Diagnoses`])

### Update Episode [PATCH /api/patients/{patient_id}/episodes/{episode_id}]
Read more about [business logic and validations.](https://e-health-ua.atlassian.net/wiki/spaces/EH/pages/583402015/Update+Episode)
+ Parameters
    + `patient_id`: `70a9e15b-b71b-4caf-8f2e-ff247e8a5677` (string, required) - Patient identifier
    + `episode_id`: `a10aeafb-0df2-4091-bc83-f07e92a100ae` (string, required) - Episode identifier

+ Request Package (application/json)
    + Headers

            Authorization: Bearer mF_9.B5f-4.1JqM
            X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

    + Attributes (object)
        + include `Update_Episode`

+ Response 202 (application/json)
    + Attributes (Response_OK)
        + meta (Response__Meta)
            + code: 202 (number)
        + data (`Job`)

+ Response 404 (application/json)
    + Attributes (Response_Error)
        + meta (Response__Meta)
            + code: 404 (number)
        + error (Response__Error)
            + type: NOT_FOUND (string)
            + message: `Patient not found` (string)

### Close Episode [PATCH /api/patients/{patient_id}/episodes/{episode_id}/actions/close]
Read more about [business logic and validations.](https://e-health-ua.atlassian.net/wiki/spaces/EH/pages/583402019/Close+Episode)
+ Parameters
    + `patient_id`: `70a9e15b-b71b-4caf-8f2e-ff247e8a5677` (string, required) - Patient identifier
    + `episode_id`: `a10aeafb-0df2-4091-bc83-f07e92a100ae` (string, required) - Episode identifier

+ Request  (application/json)
    + Headers

            Authorization: Bearer mF_9.B5f-4.1JqM
            X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4
            
    + Attributes (object)
        + include `Close_Episode`


+ Response 202 (application/json)
    + Attributes (Response_OK)
        + meta (Response__Meta)
            + code: 202 (number)
        + data (`Job`)

+ Response 404 (application/json)
    + Attributes (Response_Error)
        + meta (Response__Meta)
            + code: 404 (number)
        + error (Response__Error)
            + type: NOT_FOUND (string)
            + message: `Patient not found` (string)

### Cancel Episode [PATCH /api/patients/{patient_id}/episodes/{episode_id}/actions/cancel]
+ Parameters
    + `patient_id`: `70a9e15b-b71b-4caf-8f2e-ff247e8a5677` (string, required) - Patient identifier
    + `episode_id`: `a10aeafb-0df2-4091-bc83-f07e92a100ae` (string, required) - Episode identifier

+ Request  (application/json)
    + Headers

            Authorization: Bearer mF_9.B5f-4.1JqM
            X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

    + Attributes (object)
        + include `Cancel_Episode`


+ Response 202 (application/json)
    + Attributes (Response_OK)
        + meta (Response__Meta)
            + code: 202 (number)
        + data (`Job`)

+ Response 404 (application/json)
    + Attributes (Response_Error)
        + meta (Response__Meta)
            + code: 404 (number)
        + error (Response__Error)
            + type: NOT_FOUND (string)
            + message: `Patient not found` (string)

### Get Encounters in episode context [GET /api/patients/{patient_id}/episodes/{episode_id}/encounters{?date_from,date_to,page,page_size}]
+ Parameters
    + `patient_id`: `70a9e15b-b71b-4caf-8f2e-ff247e8a5677` (string, required) - Patient identifier
    + `episode_id`: `a10aeafb-0df2-4091-bc83-f07e92a100ae` (string, required) - Episode identifier
    + `incoming_referral`: `f10aeafb-0df2-4091-bc83-f07e92a100ae` (string, optional)
    + `period_start_from`: `2000-01-01`(string, optional) - Start date of the period of encounter initiation period. Format DATE '2017-08-16'. Example: 2017-08-16
    + `period_start_to`: `2000-01-10`(string, optional) - End date of the period of encounter initiation period. Format DATE '2017-09-16'. Example: 2017-09-16.
    + `period_end_from`: `2000-01-05`(string, optional) - Start date of the period of encounter ending period. Format DATE '2017-08-20'. Example: 2017-08-20.
    + `period_end_to`: `2000-01-15`(string, optional) - End date of the period of treatment ending period. Format DATE '2017-09-20'. Example: 2017-09-20.
    + `page`: `2` (number, optional) - Page number
    + `page_size`: `50` (number, optional) - A limit on the number of objects to be returned, between 1 and 100. Default: 50
    + `origin_episode_id`: `d11aeafb-0df2-4091-bc83-f07e92a100af` (string, optional)

+ Request (application/json)
    + Headers
    
            Authorization: Bearer mF_9.B5f-4.1JqM
            api-key: aFBLVTZ6Z2dON1V
            X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Response 200 (application/json)
    + Attributes (`Response_Collection`)
        + data (array[`Encounter_Response`], fixed-type)

### Get Encounter details in episode context [GET /api/patients/{patient_id}/episodes/{episode_id}/encounters/{encounter_id}]
+ Parameters
    + `patient_id`: `70a9e15b-b71b-4caf-8f2e-ff247e8a5677` (string, required) - Patient identifier
    + `episode_id`: `a10aeafb-0df2-4091-bc83-f07e92a100ae` (string, required) - Episode identifier
    + `encounter_id`: `7075e0e2-6b57-47fd-aff7-324806efa7e5` (string, required) - Encounter identifier

+ Request (application/json)
    + Headers
    
            Authorization: Bearer mF_9.B5f-4.1JqM
            api-key: aFBLVTZ6Z2dON1V
            X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Response 200 (application/json)
    + Attributes (`Response_OK`)
        + data (`Encounter_Response`)

### Get Conditions in episode context [GET /api/patients/{patient_id}/episodes/{episode_id}/conditions{?code,onset_date_from,onset_date_to,page,page_size}]
+ Parameters
    + `patient_id`: `70a9e15b-b71b-4caf-8f2e-ff247e8a5677` (string, required) - Patient identifier
    + `episode_id`: `a10aeafb-0df2-4091-bc83-f07e92a100ae` (string, required) - Episode identifier
    + `code`: `A20` (string, optional)
    + `onset_date_from`:`1990-01-01` (string, optional)
    + `onset_date_to`: `2000-01-01` (string, optional)
    + `page`: `2` (number, optional) - Page number
    + `page_size`: `50` (number, optional) - A limit on the number of objects to be returned, between 1 and 100. Default: 50

+ Request (application/json)
    + Headers
    
            Authorization: Bearer mF_9.B5f-4.1JqM
            api-key: aFBLVTZ6Z2dON1V
            X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Response 200 (application/json)
    + Attributes (`Response_Collection`)
        + data (array[`Condition_Response`], fixed-type)

### Get Conditions details in episode context [GET /api/patients/{patient_id}/episodes/{episode_id}/conditions/{condition_id}]
+ Parameters
    + `patient_id`: `70a9e15b-b71b-4caf-8f2e-ff247e8a5677` (string, required) - Patient identifier
    + `episode_id`: `a10aeafb-0df2-4091-bc83-f07e92a100ae` (string, required) - Episode identifier
    + `condition_id`: `7075e0e2-6b57-47fd-aff7-324806efa7e5` (string, required) - Condition identifier

+ Request (application/json)
    + Headers
    
            Authorization: Bearer mF_9.B5f-4.1JqM
            api-key: aFBLVTZ6Z2dON1V
            X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Response 200 (application/json)
    + Attributes (`Response_OK`)
        + data (`Condition_Response`)

### Get Observations in episode context [GET /api/patients/{patient_id}/episodes/{episode_id}/observations{?code,issued_from,issued_to,page,page_size}]
+ Parameters
    + `patient_id`: `70a9e15b-b71b-4caf-8f2e-ff247e8a5677` (string, required) - Patient identifier
    + `episode_id`: `a10aeafb-0df2-4091-bc83-f07e92a100ae` (string, required) - Episode identifier
    + `code`: `10569-2` (string, optional)
    + `issued_from`:`1990-01-01` (string, optional)
    + `issued_to`: `2000-01-01` (string, optional)
    + `page`: `2` (number, optional) - Page number
    + `page_size`: `50` (number, optional) - A limit on the number of objects to be returned, between 1 and 100. Default: 50

+ Request (application/json)
    + Headers
    
            Authorization: Bearer mF_9.B5f-4.1JqM
            api-key: aFBLVTZ6Z2dON1V
            X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Response 200 (application/json)
    + Attributes (`Response_Collection`)
        + data (array[`Observation_Response`], fixed-type)

### Get Observation details in episode context [GET /api/patients/{patient_id}/episodes/{episode_id}/observations/{observation_id}]
+ Parameters
    + `patient_id`: `70a9e15b-b71b-4caf-8f2e-ff247e8a5677` (string, required) - Patient identifier
    + `episode_id`: `a10aeafb-0df2-4091-bc83-f07e92a100ae` (string, required) - Episode identifier
    + `observation_id`: `7075e0e2-6b57-47fd-aff7-324806efa7e5` (string, required) - Observation identifier

+ Request (application/json)
    + Headers
    
            Authorization: Bearer mF_9.B5f-4.1JqM
            api-key: aFBLVTZ6Z2dON1V
            X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Response 200 (application/json)
    + Attributes (`Response_OK`)
        + data (`Observation_Response`)

### Get Allergy intolerances in episode context [GET /api/patients/{patient_id}/episodes/{episode_id}/allergy_intolerances{?code,onset_date_time_from,onset_date_time_to,page,page_size}]
+ Parameters
    + `patient_id`: `70a9e15b-b71b-4caf-8f2e-ff247e8a5677` (string, required) - Patient identifier
    + `episode_id`: `a10aeafb-0df2-4091-bc83-f07e92a100ae` (string, required) - Episode identifier
    + `code`: `227493005` (string, optional)
    + `onset_date_time_from`:`1990-01-01` (string, optional) 
    + `onset_date_time_to`: `2000-01-01` (string, optional)
    + `page`: `2` (number, optional) - Page number
    + `page_size`: `50` (number, optional) - A limit on the number of objects to be returned, between 1 and 100. Default: 50

+ Request (application/json)
    + Headers
    
            Authorization: Bearer mF_9.B5f-4.1JqM
            api-key: aFBLVTZ6Z2dON1V
            X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Response 200 (application/json)
    + Attributes (`Response_Collection`)
        + data (array[`Allergy_Intolerance_Response`], fixed-type)

### Get Allergy intolerance details in episode context [GET /api/patients/{patient_id}/episodes/{episode_id}/allergy_intolerances/{allergy_intolerance_id}]
+ Parameters
    + `patient_id`: `70a9e15b-b71b-4caf-8f2e-ff247e8a5677` (string, required) - Patient identifier
    + `episode_id`: `a10aeafb-0df2-4091-bc83-f07e92a100ae` (string, required) - Episode identifier
    + `allergy_intolerance_id`: `7075e0e2-6b57-47fd-aff7-324806efa7e5` (string, required) - Allergy intolerance identifier

+ Request (application/json)
    + Headers
    
            Authorization: Bearer mF_9.B5f-4.1JqM
            api-key: aFBLVTZ6Z2dON1V
            X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Response 200 (application/json)
    + Attributes (`Response_OK`)
        + data (`Allergy_Intolerance_Response`)

### Get Immunizations in episode context [GET /api/patients/{patient_id}/episodes/{episode_id}/immunizations{?code,date_from,date_to,page,page_size}]
+ Parameters
    + `patient_id`: `70a9e15b-b71b-4caf-8f2e-ff247e8a5677` (string, required) - Patient identifier
    + `episode_id`: `a10aeafb-0df2-4091-bc83-f07e92a100ae` (string, required) - Episode identifier
    + `vaccine_code`: `wex-10` (string, optional)
    + `date_from`: `1990-01-01` (string, optional) 
    + `date_to`: `2000-01-01` (string, optional)
    + `page`: `2` (number, optional) - Page number
    + `page_size`: `50` (number, optional) - A limit on the number of objects to be returned, between 1 and 100. Default: 50

+ Request (application/json)
    + Headers
    
            Authorization: Bearer mF_9.B5f-4.1JqM
            api-key: aFBLVTZ6Z2dON1V
            X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Response 200 (application/json)
    + Attributes (`Response_Collection`)
        + data (array[`Immunization_Response`], fixed-type)

### Get Immunization details in episode context [GET /api/patients/{patient_id}/episodes/{episode_id}/immunizations/{immunization_id}]
+ Parameters
    + `patient_id`: `70a9e15b-b71b-4caf-8f2e-ff247e8a5677` (string, required) - Patient identifier
    + `episode_id`: `a10aeafb-0df2-4091-bc83-f07e92a100ae` (string, required) - Episode identifier
    + `immunization_id`: `7075e0e2-6b57-47fd-aff7-324806efa7e5` (string, required) - Immunization identifier

+ Request (application/json)
    + Headers
    
            Authorization: Bearer mF_9.B5f-4.1JqM
            api-key: aFBLVTZ6Z2dON1V
            X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Response 200 (application/json)
    + Attributes (`Response_OK`)
        + data (`Immunization_Response`)

## Encounter [/api/patients/{id}/encounters]

### Get Encounter by id[GET /api/patients/{patient_id}/encounters/{encounter_id}]

+ Parameters
    + `patient_id`: `70a9e15b-b71b-4caf-8f2e-ff247e8a5677` (string, required) - Patient identifier
    + `encounter_id`: `a10aeafb-0df2-4091-bc83-f07e92a100ae` (string, required) - Encounter identifier

+ Request (application/json)

    + Headers

            Authorization: Bearer mF_9.B5f-4.1JqM
            X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Response 200 (application/json)
    + Attributes (`Response_OK`)
        + data (`Encounter_Response`)
    

### Get Encounters by search params[GET /api/patients/{patient_id}/encounters{?date_from,date_to,episode_id,page,page_size}]
+ Parameters
    + `page`: `2` (number, optional) - Page number.    
    + `page_size`: `50` (number, optional) - A limit on the number of objects to be returned, between 1 and 100. Default: 50
    + `period_start_from`: `2000-01-01`(string, optional) - Start date of the period of encounter initiation period. Format DATE '2017-08-16'. Example: 2017-08-16
    + `period_start_to`: `2000-01-10`(string, optional) - End date of the period of encounter initiation period. Format DATE '2017-09-16'. Example: 2017-09-16.
    + `period_end_from`: `2000-01-05`(string, optional) - Start date of the period of encounter ending period. Format DATE '2017-08-20'. Example: 2017-08-20.
    + `period_end_to`: `2000-01-15`(string, optional) - End date of the period of treatment ending period. Format DATE '2017-09-20'. Example: 2017-09-20.
    + `episode_id`: `f48d1b6c-a021-4d6a-a5a4-aee93e152ecc` (string, optional)
    + `incoming_referral_id`: `f10aeafb-0df2-4091-bc83-f07e92a100ae` (string, optional)
    + `origin_episode_id`: `d11aeafb-0df2-4091-bc83-f07e92a100af` (string, optional)
    + `managing_organization_id`: `887a37a4-c95f-4017-ba11-a000c61bf700` (string, optional)

+ Request (application/json)
    + Headers

            Authorization: Bearer mF_9.B5f-4.1JqM
            X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Response 200 (application/json)
    + Attributes (`Response_Collection`)
        + data (array[`Encounter_Response`])

### Get Encounter context[GET /api/patients/{patient_id}/encounters/{encounter_id}/context]

+ Parameters
    + `patient_id`: `70a9e15b-b71b-4caf-8f2e-ff247e8a5677` (string, required) - Patient identifier
    + `encounter_id`: `a10aeafb-0df2-4091-bc83-f07e92a100ae` (string, required) - Encounter identifier

+ Request (application/json)

    + Headers

            Authorization: Bearer mF_9.B5f-4.1JqM
            X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Response 200 (application/json)
    + Attributes (`Response_OK`)
        + data (`Medical_Event_Context_Episode_Response`)


## Conditions [/api/patients/{patient_id}/conditions]

### Get Condition by id [GET /api/patients/{patient_id}/conditions/{condition_id}]

+ Parameters
    + `patient_id`: `70a9e15b-b71b-4caf-8f2e-ff247e8a5677` (string, required) - Patient identifier
    + `condition_id`: `a10aeafb-0df2-4091-bc83-f07e92a100ae` (string, required) - Condition identifier

+ Request (application/json)
    + Headers

            Authorization: Bearer mF_9.B5f-4.1JqM
            X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Response 200 (application/json)
    + Attributes (`Response_OK`)
        + data (`Condition_Response`)
    

### Get Conditions by search params [GET /api/patients/{patient_id}/conditions{?encounter_id,episode_id,onset_date_from,onset_date_to,code,managing_organization_id,clinical_status,verification_status,page,page_size}]
+ Parameters
    + `page`: `1` (number,optional) - Page number.    
    + `page_size`: `50` (number, optional) - A limit on the number of objects to be returned, between 1 and 100. Default: 50
    + `code`: `A20` (string, optional)
    + `encounter_id`: `09dc3ed7-2169-45d8-8fa3-d918c6839bf9` (string, optional)
    + `episode_id`: `f48d1b6c-a021-4d6a-a5a4-aee93e152ecc` (string, optional)
    + `onset_date_from`:`1990-01-01` (string, optional)
    + `onset_date_to`: `2000-01-01` (string, optional)
    + `managing_organization_id`: `887a37a4-c95f-4017-ba11-a000c61bf700` (string, optional)
    + `clinical_status`: `active` (string, optional)
    + `verification_status`: `confirmed` (string, optional)

+ Request (application/json)
    + Headers

            Authorization: Bearer mF_9.B5f-4.1JqM
            X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Response 200 (application/json)
    + Attributes (`Response_Collection`)
        + data (array[`Condition_Response`])


### Get Condition context[GET /api/patients/{patient_id}/conditions/{condition_id}/context]

+ Parameters
    + `patient_id`: `70a9e15b-b71b-4caf-8f2e-ff247e8a5677` (string, required) - Patient identifier
    + `condition_id`: `a10aeafb-0df2-4091-bc83-f07e92a100ae` (string, required) - Condition identifier

+ Request (application/json)

    + Headers

            Authorization: Bearer mF_9.B5f-4.1JqM
            X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Response 200 (application/json)
    + Attributes (`Response_OK`)
        + data (`Medical_Event_Context_Episode_Response`)
    

## Observation [/api/patients/{patient_id}/observation/{id}]

### Get Observation by id[GET /api/patients/{patient_id}/observations/{observation_id}]

+ Parameters
    + `patient_id`: `70a9e15b-b71b-4caf-8f2e-ff247e8a5677` (string, required) - Patient identifier
    + `observation_id`: `a10aeafb-0df2-4091-bc83-f07e92a100ae` (string, required) - Observation identifier

+ Request (application/json)

    + Headers

            Authorization: Bearer mF_9.B5f-4.1JqM
            X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Response 200 (application/json)
    + Attributes (`Response_OK`)
        + data (`Observation_Response`)

### Get Observations by searсh params[GET /api/patients/{patient_id}/observations{?encounter_id,diagnostic_report_id,episode_id,code,issued_from,issued_to,page,page_size}]
+ Parameters
    + `page`: `1` (number, optional) - Page number    
    + `page_size`: `50` (number, optional) - A limit on the number of objects to be returned, between 1 and 100. Default: 50
    + `code`: `10569-2` (string, optional)
    + `encounter_id`: `09dc3ed7-2169-45d8-8fa3-d918c6839bf9` (string, optional)
    + `diagnostic_report_id`: `09dc3ed7-2169-45d8-8fa3-d918c6839bf9` (string, optional)
    + `episode_id`: `f48d1b6c-a021-4d6a-a5a4-aee93e152ecc` (string, optional)
    + `issued_from`:`1990-01-01` (string, optional)
    + `issued_to`: `2000-01-01` (string, optional)
    + `device_id`: `09dc3ed7-2169-45d8-8fa3-d918c6839bf9` (string, optional)
    + `managing_organization_id`: `887a37a4-c95f-4017-ba11-a000c61bf700` (string, optional)
    + `specimen_id`: `f48d1b6c-a021-4d6a-a5a4-aee93e152ecc` (string, optional)

+ Request (application/json)
    + Headers

            Authorization: Bearer mF_9.B5f-4.1JqM
            X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Response 200 (application/json)
    + Attributes (`Response_Collection`)
        + data (array[`Observation_Response`])


### Get Observation contexts[GET /api/patients/{patient_id}/observations/{observation_id}/context]

+ Parameters
    + `patient_id`: `70a9e15b-b71b-4caf-8f2e-ff247e8a5677` (string, required) - Patient identifier
    + `observation_id`: `a10aeafb-0df2-4091-bc83-f07e92a100ae` (string, required) - Observation identifier

+ Request (application/json)

    + Headers

            Authorization: Bearer mF_9.B5f-4.1JqM
            X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Response 200 (application/json)
    + Attributes (`Response_OK`)
        + data (`Medical_Event_Context_Episode_with_Diagnostic_Report_Response`)
    

## Allergy Intolerance [/api/patients/{patient_id}/allergy_intolerances/{id}]

### Get Allergy Intolerance by id[GET /api/patients/{patient_id}/allergy_intolerances/{allergy_intolerance_id}]

+ Parameters
    + `patient_id`: `70a9e15b-b71b-4caf-8f2e-ff247e8a5677` (string, required) - Patient identifier
    + `allergy_intolerance_id`: `a10aeafb-0df2-4091-bc83-f07e92a100ae` (string, required) - Allergy intolerance identifier
 
+ Request (application/json)
    + Headers

            Authorization: Bearer mF_9.B5f-4.1JqM
            X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Response 200 (application/json)
    + Attributes (`Response_OK`)
        + data (`Allergy_Intolerance_Response`)

### Get Allergy Intolerances by search params[GET /api/patients/{patient_id}/allergy_intolerances{?encounter_id,episode_id,code,onset_date_time_from,onset_date_time_to,page,page_size}]

+ Parameters
    + `page`: `2` (number, optional) - Page number.    
    + `page_size`: `50` (number, optional) - A limit on the number of objects to be returned, between 1 and 100. Default: 50
    + `code`: `227493005` (string, optional) 
    + `encounter_id`: `09dc3ed7-2169-45d8-8fa3-d918c6839bf9` (string, optional) 
    + `episode_id`: `f48d1b6c-a021-4d6a-a5a4-aee93e152ecc` (string, optional) 
    + `onset_date_time_from`:`1990-01-01` (string, optional)
    + `onset_date_time_to`: `2000-01-01` (string, optional)

+ Request (application/json)
    + Headers

            Authorization: Bearer mF_9.B5f-4.1JqM
            X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Response 200 (application/json)
    + Attributes (`Response_Collection`)
        + data (array[`Allergy_Intolerance_Response`])

### Get Allergy Intolerance context[GET /api/patients/{patient_id}/allergy_intolerances/{allergy_intolerance_id}/context]

+ Parameters
    + `patient_id`: `70a9e15b-b71b-4caf-8f2e-ff247e8a5677` (string, required) - Patient identifier
    + `allergy_intolerance_id`: `a10aeafb-0df2-4091-bc83-f07e92a100ae` (string, required) - Allergy Intolerance identifier

+ Request (application/json)

    + Headers

            Authorization: Bearer mF_9.B5f-4.1JqM
            X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Response 200 (application/json)
    + Attributes (`Response_OK`)
        + data (`Medical_Event_Context_Episode_Response`)

## Immunization [/api/patients/{patient_id}/immunizations]

### Get Immunization by id [GET /api/patients/{patient_id}/immunizations/{immunization_id}]

+ Parameters
    + patient_id: `e549c257-232e-4dab-9f1e-b2322cac3968` (string, required) - Unique patient identifier
    + immunization_id: `340b86fd-23f3-4a33-94c5-8ec19d116c33` (string, required) - Unique immunization identifier

+ Request (application/json)
    + Headers

            Authorization: Bearer mF_9.B5f-4.1JqM
            X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Response 200 (application/json)
    + Attributes (`Response_OK`)
        + data (`Immunization_Response`)

### Get Immunizations by search params [GET /api/patients/{patient_id}/immunizations{?vaccine_code,date_from,date_to,page,page_size,code,encounter_id,episode_id}]

+ Parameters
    + `page`: 2 (number, optional) - Page number.    
    + `page_size`: 50 (number, optional) - A limit on the number of objects to be returned, between 1 and 100. Default: 50
    + `vaccine_code`: `wex-10` (string, optional) 
    + `encounter_id`: `09dc3ed7-2169-45d8-8fa3-d918c6839bf9` (string, optional) 
    + `episode_id`: `f48d1b6c-a021-4d6a-a5a4-aee93e152ecc` (string, optional) 
    + `date_from`: `1990-01-01` (string, optional) 
    + `date_to`: `2000-01-01` (string, optional) 
    

+ Request (application/json)

    + Headers

            Authorization: Bearer mF_9.B5f-4.1JqM
            X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Response 200 (application/json)
    + Attributes (`Response_Collection`)
        + data (array[`Immunization_Response`], fixed-type)

    
### Get Immunization context[GET /api/patients/{patient_id}/immunizations/{immunization_id}/context]

+ Parameters
    + `patient_id`: `70a9e15b-b71b-4caf-8f2e-ff247e8a5677` (string, required) - Patient identifier
    + `immunization_id`: `a10aeafb-0df2-4091-bc83-f07e92a100ae` (string, required) - Immunization identifier

+ Request (application/json)

    + Headers

            Authorization: Bearer mF_9.B5f-4.1JqM
            X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Response 200 (application/json)
    + Attributes (`Response_OK`)
        + data (`Medical_Event_Context_Episode_Response`)


## Risk Assessment [/api/patients/{patient_id}/risk_assessments]

### Get Risk Assessment by id [GET /api/patients/{patient_id}/risk_assessments/{risk_assessment_id}]

+ Parameters
    + patient_id: `e549c257-232e-4dab-9f1e-b2322cac3968` (string, required) - Unique patient identifier
    + risk_assessment_id: `340b86fd-23f3-4a33-94c5-8ec19d116c33` (string, required) - Unique immunization identifier

+ Request (application/json)
    + Headers

            Authorization: Bearer mF_9.B5f-4.1JqM
            X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Response 200 (application/json)
    + Attributes (`Response_OK`)
        + data (`Risk_Assessment_Response`)

### Get Risk Assessments by search params [GET /api/patients/{patient_id}/risk_assessments{?code,asserted_date_from,asserted_date_to,page,page_size,encounter_id,episode_id}]

+ Parameters
    + `page`: 2 (number, optional) - Page number.    
    + `page_size`: 50 (number, optional) - A limit on the number of objects to be returned, between 1 and 100. Default: 50
    + `code`: `R80` (string, optional) 
    + `encounter_id`: `09dc3ed7-2169-45d8-8fa3-d918c6839bf9` (string, optional) 
    + `episode_id`: `f48d1b6c-a021-4d6a-a5a4-aee93e152ecc` (string, optional) 
    + `asserted_date_from`: `1990-01-01` (string, optional) 
    + `asserted_date_to`: `2000-01-01` (string, optional) 
    

+ Request (application/json)

    + Headers

            Authorization: Bearer mF_9.B5f-4.1JqM
            X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Response 200 (application/json)
    + Attributes (`Response_Collection`)
        + data (array[`Risk_Assessment_Response`], fixed-type)

    
### Get Risk Assessment context[GET /api/patients/{patient_id}/risk_assessments/{risk_assessment_id}/context]

+ Parameters
    + `patient_id`: `70a9e15b-b71b-4caf-8f2e-ff247e8a5677` (string, required) - Patient identifier
    + `risk_assessment_id`: `a10aeafb-0df2-4091-bc83-f07e92a100ae` (string, required) - Risk Assessment identifier

+ Request (application/json)

    + Headers

            Authorization: Bearer mF_9.B5f-4.1JqM
            X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Response 200 (application/json)
    + Attributes (`Response_OK`)
        + data (`Medical_Event_Context_Episode_Response`)

    
## Device [/api/patients/{patient_id}/devices]

### Get Device by id [GET /api/patients/{patient_id}/devices/{device_id}]

+ Parameters
    + patient_id: `e549c257-232e-4dab-9f1e-b2322cac3968` (string, required) - Unique patient identifier
    + device_id: `340b86fd-23f3-4a33-94c5-8ec19d116c33` (string, required) - Unique device identifier

+ Request (application/json)
    + Headers

            Authorization: Bearer mF_9.B5f-4.1JqM
            X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Response 200 (application/json)
    + Attributes (`Response_OK`)
        + data (`Device_Response`)

### Get Devices by search params [GET /api/patients/{patient_id}/devices{?inserted_at_from,inserted_at_to,page,page_size,type,encounter_id,episode_id,definition,model_number,name,manufacturer,recorder,recorder_legal_entity_id,status,serial_number}]

> Note that it is allowed to pass multiple comma-separated values for some query parameters:
* type
* definition
* status

+ Parameters
    + `page`: 2 (number, optional) - Page number.    
    + `page_size`: 50 (number, optional) - A limit on the number of objects to be returned, between 1 and 100. Default: 50
    + `type`: `1234` (string, optional) 
    + `encounter_id`: `09dc3ed7-2169-45d8-8fa3-d918c6839bf9` (string, optional)
    + `episode_id`: `f48d1b6c-a021-4d6a-a5a4-aee93e152ecc` (string, optional)
    + `definition`: `09dc3ed7-2169-45d8-8fa3-d918c6839bf9` (string, optional)
    + `model_number`: `NSPX30` (string, optional)
    + `manufacturer`: `GlobalMed, Inc` (string, optional)
    + `name`: `name` (string, optional)
    + `recorder`: `09dc3ed7-2169-45d8-8fa3-d918c6839bf9` (string, optional)
    + `recorder_legal_entity_id`: `09dc3ed7-2169-45d8-8fa3-d918c6839bf9` (string, optional)
    + `status`: `active` (string, optional)
    + `serial_number`: `NSPX30` (string, optional)
    + `inserted_at_from`: `1990-01-01` (string, optional) 
    + `inserted_at_to`: `2000-01-01` (string, optional) 
    

+ Request (application/json)

    + Headers

            Authorization: Bearer mF_9.B5f-4.1JqM
            X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Response 200 (application/json)
    + Attributes (`Response_Collection`)
        + data (array[`Device_Response`], fixed-type)


### Get Device context[GET /api/patients/{patient_id}/devices/{device_id}/context]

+ Parameters
    + `patient_id`: `70a9e15b-b71b-4caf-8f2e-ff247e8a5677` (string, required) - Patient identifier
    + `device_id`: `a10aeafb-0df2-4091-bc83-f07e92a100ae` (string, required) - Device identifier

+ Request (application/json)

    + Headers

            Authorization: Bearer mF_9.B5f-4.1JqM
            X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Response 200 (application/json)
    + Attributes (`Response_OK`)
        + data (`Medical_Event_Context_Episode_Response`)
 

## Device Association [/api/patients/{patient_id}/device_association] 

### Get Device Association by id [GET /api/patients/{patient_id}/device_associations/{device_association_id}]

+ Parameters
    + patient_id: `e549c257-232e-4dab-9f1e-b2322cac3968` (string, required) - Unique patient identifier
    + device_association_id: `340b86fd-23f3-4a33-94c5-8ec19d116c33` (string, required) - Unique device identifier

+ Request (application/json)
    + Headers

            Authorization: Bearer mF_9.B5f-4.1JqM
            X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Response 200 (application/json)
    + Attributes (`Response_OK`)
        + data (`Device_association_Response`)        
        

### Get Device Associations by search params [GET /api/patients/{patient_id}/device_associations{?device_id,body_site,inserted_at_from,inserted_at_to,association_date_from,association_date_to,page,page_size,encounter_id,episode_id,recorder,recorder_legal_entity_id,status}]

> Note that it is allowed to pass multiple comma-separated values for some query parameters:
* body_site
* status

+ Parameters
    + `page`: 2 (number, optional) - Page number.    
    + `page_size`: 50 (number, optional) - A limit on the number of objects to be returned, between 1 and 100. Default: 50
    + `encounter_id`: `09dc3ed7-2169-45d8-8fa3-d918c6839bf9` (string, optional)
    + `episode_id`: `f48d1b6c-a021-4d6a-a5a4-aee93e152ecc` (string, optional)
    + `recorder`: `09dc3ed7-2169-45d8-8fa3-d918c6839bf9` (string, optional)
    + `recorder_legal_entity_id`: `09dc3ed7-2169-45d8-8fa3-d918c6839bf9` (string, optional)
    + `status`: `active` (string, optional)
    + `body_site`: `head` (string, optional)
    + `device_id`: `09dc3ed7-2169-45d8-8fa3-d918c6839bf9` (string, optional) 
    + `association_date_from`: `1990-01-01` (string, optional) 
    + `association_date_to`: `2000-01-01` (string, optional) 
    + `recorded_from`: `1990-01-01` (string, optional) 
    + `recorded_to`: `2000-01-01` (string, optional) 
    + `inserted_at_from`: `1990-01-01` (string, optional) 
    + `inserted_at_to`: `2000-01-01` (string, optional) 
    

+ Request (application/json)

    + Headers

            Authorization: Bearer mF_9.B5f-4.1JqM
            X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Response 200 (application/json)
    + Attributes (`Response_Collection`)
        + data (array[`Device_association_Response`], fixed-type)
        
        
### Get Device Association context[GET /api/patients/{patient_id}/device_associations/{device_association_id}/context]

+ Parameters
    + `patient_id`: `70a9e15b-b71b-4caf-8f2e-ff247e8a5677` (string, required) - Patient identifier
    + `device_association_id`: `a10aeafb-0df2-4091-bc83-f07e92a100ae` (string, required) -  Device Association identifier

+ Request (application/json)

    + Headers

            Authorization: Bearer mF_9.B5f-4.1JqM
            X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Response 200 (application/json)
    + Attributes (`Response_OK`)
        + data (`Medical_Event_Context_Episode_Response`)
        

## Detected Issue [/api/patients/{patient_id}/detected_issues] 

### Get Detected Issue by id [GET /api/patients/{patient_id}/detected_issues/{detected_issue_id}]

+ Parameters
    + patient_id: `e549c257-232e-4dab-9f1e-b2322cac3968` (string, required) - Unique patient identifier
    + detected_issue_id: `340b86fd-23f3-4a33-94c5-8ec19d116c33` (string, required) - Unique device identifier

+ Request (application/json)
    + Headers

            Authorization: Bearer mF_9.B5f-4.1JqM
            X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Response 200 (application/json)
    + Attributes (`Response_OK`)
        + data (`Detected_issue_Response`)    

### Get Detected Issues by search params [GET /api/patients/{patient_id}/detected_issues{?device_id,inserted_at_from,inserted_at_to,page,page_size,encounter_id,episode_id,recorder,recorder_legal_entity_id,status,identified_date_time_from,identified_date_time_to}]

> Note that it is allowed to pass multiple comma-separated values for some query parameters:
* status

+ Parameters
    + `page`: 2 (number, optional) - Page number.    
    + `page_size`: 50 (number, optional) - A limit on the number of objects to be returned, between 1 and 100. Default: 50
    + `encounter_id`: `09dc3ed7-2169-45d8-8fa3-d918c6839bf9` (string, optional)
    + `episode_id`: `f48d1b6c-a021-4d6a-a5a4-aee93e152ecc` (string, optional)
    + `status`: `active` (string, optional)
    + `recorder`: `09dc3ed7-2169-45d8-8fa3-d918c6839bf9` (string, optional)
    + `recorder_legal_entity_id`: `09dc3ed7-2169-45d8-8fa3-d918c6839bf9` (string, optional)
    + `device_id`: `09dc3ed7-2169-45d8-8fa3-d918c6839bf9` (string, optional) 
    + `inserted_at_from`: `1990-01-01` (string, optional)
    + `inserted_at_to`: `2000-01-01` (string, optional)
    + `identified_date_time_from`: `2021-01-01T00:00:00.000Z` (string, optional) - The start date of the period for search by identified_date_time
    + `identified_date_time_to`: `2021-01-01T00:00:00.000Z` (string, optional) - The end date of the period for search by identified_date_time
    

+ Request (application/json)

    + Headers

            Authorization: Bearer mF_9.B5f-4.1JqM
            X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Response 200 (application/json)
    + Attributes (`Response_Collection`)
        + data (array[`Detected_issue_Response`], fixed-type)        

### Get Detected Issue context[GET /api/patients/{patient_id}/detected_issues/{detected_issue_id}/context]

+ Parameters
    + `patient_id`: `70a9e15b-b71b-4caf-8f2e-ff247e8a5677` (string, required) - Patient identifier
    + `detected_issue_id`: `a10aeafb-0df2-4091-bc83-f07e92a100ae` (string, required) -  Detected Issue identifier

+ Request (application/json)

    + Headers

            Authorization: Bearer mF_9.B5f-4.1JqM
            X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Response 200 (application/json)
    + Attributes (`Response_OK`)
        + data (`Medical_Event_Context_Episode_Response`)

 
## Medication Statement [/api/patients/{patient_id}/medication_statements]
### Get Medication Statement by id  [GET /api/patients/{patient_id}/medication_statements/{medication_statement_id}]
+ Parameters
    + patient_id: `e549c257-232e-4dab-9f1e-b2322cac3968` (string, required) - Unique patient identifier
    + medication_statement_id: `340b86fd-23f3-4a33-94c5-8ec19d116c33` (string, required) - Unique device identifier

+ Request (application/json)
    + Headers

            Authorization: Bearer mF_9.B5f-4.1JqM
            X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Response 200 (application/json)
    + Attributes (`Response_OK`)
        + data (`Medication_Statement_Response`)

### Get Medication Statement by search params [GET /api/patients/{patient_id}/medication_statements/{?asserted_date_from,asserted_date_to,page,page_size,medication_code,encounter_id,episode_id}]
+ Parameters
    + `page`: 2 (number, optional) - Page number.    
    + `page_size`: 50 (number, optional) - A limit on the number of objects to be returned, between 1 and 100. Default: 50
    + `medication_code`: `spine_board` (string, optional) 
    + `encounter_id`: `09dc3ed7-2169-45d8-8fa3-d918c6839bf9` (string, optional) 
    + `episode_id`: `09dc3ed7-2169-45d8-8fa3-d918c6839bf9` (string, optional)
    + `asserted_date_from`: `1990-01-01` (string, optional) 
    + `asserted_date_to`: `2000-01-01` (string, optional) 
    

+ Request (application/json)

    + Headers

            Authorization: Bearer mF_9.B5f-4.1JqM
            X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Response 200 (application/json)
    + Attributes (`Response_Collection`)
        + data (array[`Medication_Statement_Response`], fixed-type)


### Get Medication Statement context[GET /api/patients/{patient_id}/medication_statements/{medication_statement_id}/context]

+ Parameters
    + `patient_id`: `70a9e15b-b71b-4caf-8f2e-ff247e8a5677` (string, required) - Patient identifier
    + `medication_statement_id`: `a10aeafb-0df2-4091-bc83-f07e92a100ae` (string, required) - Medication Statement identifier

+ Request (application/json)

    + Headers

            Authorization: Bearer mF_9.B5f-4.1JqM
            X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Response 200 (application/json)
    + Attributes (`Response_OK`)
        + data (`Medical_Event_Context_Episode_Response`)

 
## Medication Administration [/api/patients/{patient_id}/medication_administrations]
### Get Medication Administration by id  [GET /api/patients/{patient_id}/medication_administrations/{medication_administration_id}]
+ Parameters
    + patient_id: `e549c257-232e-4dab-9f1e-b2322cac3968` (string, required) - Unique patient identifier
    + medication_administration_id: `340b86fd-23f3-4a33-94c5-8ec19d116c33` (string, required) - Unique medication administration identifier

+ Request (application/json)
    + Headers

            Authorization: Bearer mF_9.B5f-4.1JqM
            X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Response 200 (application/json)
    + Attributes (`Response_OK`)
        + data (`Medication_Administration_Response`)

### Get Medication Administration by search params [GET /api/patients/{patient_id}/medication_administrations/{?asserted_date_from,asserted_date_to,page,page_size,medication_code,encounter_id,episode_id}]
+ Parameters
    + `page`: 2 (number, optional) - Page number.    
    + `page_size`: 50 (number, optional) - A limit on the number of objects to be returned, between 1 and 100. Default: 50
    + status: `completed` (string, optional) 
    + category_code: `409063005` (string, optional) - Type of medication usage
    + `encounter_id`: `09dc3ed7-2169-45d8-8fa3-d918c6839bf9` (string, optional) - unique identifier
    + `episode_id`: `09dc3ed7-2169-45d8-8fa3-d918c6839bf9` (string, optional)
    + `managing_organization_id`: `09dc3ed7-2169-45d8-8fa3-d918c6839bf9` (string, optional)
    + `medication_request_id`: `09dc3ed7-2169-45d8-8fa3-d918c6839bf9` (string, optional)
    + `performed_date_from`: `1990-01-01` (string, optional) 
    + `performed_date_to`: `2000-01-01` (string, optional) 
    

+ Request (application/json)

    + Headers

            Authorization: Bearer mF_9.B5f-4.1JqM
            X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Response 200 (application/json)
    + Attributes (`Response_Collection`)
        + data (array[`Medication_Administration_Response`], fixed-type)


### Get Medication Administration context[GET /api/patients/{patient_id}/medication_administrations/{medication_administration_id}/context]

+ Parameters
    + `patient_id`: `70a9e15b-b71b-4caf-8f2e-ff247e8a5677` (string, required) - Patient identifier
    + `medication_administration_id`: `a10aeafb-0df2-4091-bc83-f07e92a100ae` (string, required) - Medication Administration identifier

+ Request (application/json)

    + Headers

            Authorization: Bearer mF_9.B5f-4.1JqM
            X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Response 200 (application/json)
    + Attributes (`Response_OK`)
        + data (`Medical_Event_Context_Episode_Response`)

## Clinical Impression [/api/patients/{patient_id}/clinical_impressions]
### Get Clinical Impression by id  [GET /api/patients/{patient_id}/clinical_impressions/{clinical_impression_id}]
+ Parameters
    + patient_id: `e549c257-232e-4dab-9f1e-b2322cac3968` (string, required) - Unique patient identifier
    + clinical_impression_id: `340b86fd-23f3-4a33-94c5-8ec19d116c33` (string, required) - Unique clinical impression identifier

+ Request (application/json)
    + Headers

            Authorization: Bearer mF_9.B5f-4.1JqM
            X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Response 200 (application/json)
    + Attributes (`Response_OK`)
        + data (`Clinical_Impression_Show`)

### Get Clinical Impression by search params [GET /api/patients/{patient_id}/clinical_impressions{?encounter_id,episode_id,code,status,page,page_size}]
+ Parameters
    + patient_id: `7c3da506-804d-4550-8993-bf17f9ee0402` (string, required) - MPI identifier of the patient. 
    + encounter_id: `7c3da506-804d-4550-8993-bf17f9ee0400` (string, optional) - identifier of the encounter in clinical impression
    + episode_id: `f48d1b6c-a021-4d6a-a5a4-aee93e152ecc` (string, optional)    
    + code: `insulin_1` (string, optional) - clinical impression's code
    + status: `completed` (string, optional) - clinical impression's status
    + effective_date_from: `2017-09-01` (string, optional) - date of clinical impression
    + effective_date_to: `2017-09-02` (string, optional) - date of clinical impression
    + page: 2 (number, optional) - Page number
    + page_size: 50 (number,optional) - A limit on the number of objects to be returned, between 1 and 100. Default: 50
    

+ Request (application/json)

    + Headers

            Authorization: Bearer mF_9.B5f-4.1JqM
            X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Response 200 (application/json)
    + Attributes (`Response_Collection`)
        + data (array[`Clinical_Impression_Show`], fixed-type)


### Get Clinical Impression context[GET /api/patients/{patient_id}/clinical_impressions/{clinical_impression_id}/context]

+ Parameters
    + `patient_id`: `70a9e15b-b71b-4caf-8f2e-ff247e8a5677` (string, required) - Patient identifier
    + `clinical_impression_id`: `a10aeafb-0df2-4091-bc83-f07e92a100ae` (string, required) - Clinical Impression identifier

+ Request (application/json)

    + Headers

            Authorization: Bearer mF_9.B5f-4.1JqM
            X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Response 200 (application/json)
    + Attributes (`Response_OK`)
        + data (`Medical_Event_Context_Episode_Response`)

## Diagnostic Report Data Package [/api/patients/{id}/diagnostic_report_package]

### Submit Diagnostic Report  Package [POST]

Using this web service you can submit:

Object| Required| Part of Signed content
-------|---------|------
Observation| 0-* |true
Diagnostic report|1-1| true

To find out more about the process of diagnostic report package creation read [Confluence Submit Encounter Data Package ](https://e-health-ua.atlassian.net/wiki/spaces/EH/pages/17061216257/Submit+Encounter+Package).

+ Request Package (application/json)

    + Headers

            Authorization: Bearer mF_9.B5f-4.1JqM
            X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4
            
    + Attributes (object)
        + `signed_data` : 'ew0KICAicGVyaW9kIjogew0KIC...' (string, required, fixed-type)

+ Response 202 (application/json)
    + Attributes (Response_OK)
        + meta (Response__Meta)
            + code: 202 (number)
        + data (`Job`)

+ Response 404 (application/json)
    + Attributes (Response_Error)
        + meta (Response__Meta)
            + code: 404 (number)
        + error (Response__Error)
            + type: NOT_FOUND (string)
            + message: `Patient not found` (string)     
            

### Dummy Submit Diagnostic Report Package [POST]            
+ Request Package General (application/json)

    + Headers

            Authorization: Bearer mF_9.B5f-4.1JqM
            X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4
            
    + Attributes (object)
        + include `Submit_DR_Package`

+ Request EDP Observation with Components - ASIA (application/json)

    + Headers

            Authorization: Bearer mF_9.B5f-4.1JqM
            X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4
            
    + Attributes (object)
        + include `Submit_DR_Package_ASIA`

+ Request DRP Observation with Components and extensions - Bartel (application/json)

    + Headers

            Authorization: Bearer mF_9.B5f-4.1JqM
            X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4
            
    + Attributes (object)
        + include `Submit_DR_Package_Bartel`

### Cancel Diagnostic Report Package[PATCH]
+ Request Package (application/json)

    + Headers

            Authorization: Bearer mF_9.B5f-4.1JqM
            X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4
            
    + Attributes (object)
        + `signed_data` : 'ew0KICAicGVyaW9kIjogew0KIC...' (string, required, fixed-type)

+ Response 202 (application/json)
    + Attributes (Response_OK)
        + meta (Response__Meta)
            + code: 202 (number)
        + data (`Job`)

+ Response 404 (application/json)
    + Attributes (Response_Error)
        + meta (Response__Meta)
            + code: 404 (number)
        + error (Response__Error)
            + type: NOT_FOUND (string)
            + message: `Patient not found` (string)
            

### Dummy Cancel Diagnostic Report Package [PATCH]          
+ Request Package (application/json)

    + Headers

            Authorization: Bearer mF_9.B5f-4.1JqM
            X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4
            
    + Attributes (object)
        + include `Submit_DR_Package_Cancel`

## Diagnostic Report [/api/patients/{patient_id}/diagnostic_reports]
### Get Diagnostic Report by id [GET /api/patients/{patient_id}/diagnostic_reports/{diagnostic_report_id}]
+ Parameters
    + patient_id: `e549c257-232e-4dab-9f1e-b2322cac3968` (string, required) - Unique patient identifier
    + diagnostic_report_id: `340b86fd-23f3-4a33-94c5-8ec19d116c33` (string, required) - Unique DR identifier
    
+ Request (application/json)

    + Headers

            Authorization: Bearer mF_9.B5f-4.1JqM
            X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Response 200 (application/json)
    + Attributes (`Response_Collection`)
        + data (`Diagnostic_Report_Response`)

### Get Diagnostic Report by search params [GET /api/patients/{patient_id}/diagnostic_reports/{?issued_from,issued_to,page,page_size,code,encounter_id,context_episode_id, origin_episode_id}]
+ Parameters
    + `page`: 2 (number, optional) - Page number.    
    + `page_size`: 50 (number, optional) - A limit on the number of objects to be returned, between 1 and 100. Default: 50
    + `code`: `12345` (string, optional) 
    + `encounter_id`: `09dc3ed7-2169-45d8-8fa3-d918c6839bf9` (string, optional) 
    + `context_episode_id`: `09dc3ed7-2169-45d8-8fa3-d918c6839bf9` (string, optional)
    + `origin_episode_id`: `09dc3ed7-2169-45d8-8fa3-d918c6839bf9` (string, optional)
    + `issued_from`: `1990-01-01` (string, optional) 
    + `issued_to`: `2000-01-01` (string, optional) 
    + `based_on`: `09dc3ed7-2169-45d8-8fa3-d918c6839bf9` (string, optional) 
    + `managing_organization_id`: `19dc3ed7-2169-45d8-8fa3-d918c6839bf9` (string, optional) 
    + `specimen_id`: `90dc3ed7-2169-45d8-8fa3-d918c6839b21` (string, optional)

+ Request (application/json)

    + Headers

            Authorization: Bearer mF_9.B5f-4.1JqM
            X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Response 200 (application/json)
    + Attributes (`Response_Collection`)
        + data (array[`Diagnostic_Report_Response`], fixed-type)

### Get Short Diagnostic Reports by Service Groups [GET /api/patients/{patient_id}/service_groups/diagnostic_reports{?issued_from,issued_to,page,page_size,managing_organization_id,code,status,category,service_group_id}]
+ Parameters
    + `patient_id`: `90dc3ed7-2169-45d8-8fa3-d918c6839b21` (string, reqired)
    + `service_group_id`: `90dc3ed7-2169-45d8-8fa3-d918c6839b21` (string, optional)
    + `code`: `09dc3ed7-2169-45d8-8fa3-d918c6839bf9` (string, optional) - service_id from code.identifier.value
    + `managing_organization`: `19dc3ed7-2169-45d8-8fa3-d918c6839bf9` (string, optional)
    + `status`: `final` (string, optional)
    + `category`: `diagnostic_procedure` (string, optional)
    + `issued_from`: `1990-01-01` (string, optional) 
    + `issued_to`: `2000-01-01` (string, optional)
    + `page`: 2 (number, optional) - Page number.    
    + `page_size`: 50 (number, optional) - A limit on the number of objects to be returned, between 1 and 100. Default: 50

+ Request (application/json)

    + Headers

            Authorization: Bearer mF_9.B5f-4.1JqM
            X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Response 200 (application/json)
    + Attributes (`Response_Collection`)
        + data (array[`Diagnostic_Report_Short_Response`], fixed-type)
        
        

### Get Approved Diagnostic Reports  [GET /api/patients/{patient_id}/diagnostic_reports/approved{?page,page_size,code}]
This web service allows to get a list of diagnostic reports that were allowed to read by the doctor via patients approval.

+ Parameters
    + `page`: 2 (number, optional) - Page number.    
    + `page_size`: 50 (number, optional) - A limit on the number of objects to be returned, between 1 and 100. Default: 50
    + `code`: `09dc3ed7-2169-45d8-8fa3-d918c6839bf9` (string, optional) - id of a service
    

+ Request (application/json)

    + Headers

            Authorization: Bearer mF_9.B5f-4.1JqM
            X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Response 200 (application/json)
    + Attributes (`Response_Collection`)
        + data (array[`Diagnostic_Report_Response`], fixed-type)

### Get Diagnostic Report contexts[GET /api/patients/{patient_id}/diagnostic_reports/{diagnostic_report_id}/context]

+ Parameters
    + `patient_id`: `70a9e15b-b71b-4caf-8f2e-ff247e8a5677` (string, required) - Patient identifier
    + `diagnostic_report_id`: `a10aeafb-0df2-4091-bc83-f07e92a100ae` (string, required) - Diagnostic Report identifier

+ Request (application/json)

    + Headers

            Authorization: Bearer mF_9.B5f-4.1JqM
            X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Response 200 (application/json)
    + Attributes (`Response_OK`)
        + data (`Medical_Event_Context_Episode_with_Origin_Episode_Response`)

## Procedures [/api/patients/{patient_id}/procedures]

### Create procedure [POST]
This WS allows to register procedure by its own. Also prosedure can be registered as a part of [encounter package](https://ehealthmedicaleventsapi.docs.apiary.io/#reference/medical-events/encounter-data-package).
**Scopes required:** `procedure:write`

+ Parameters
    + patient_id: `7075e0e2-6b57-47fd-aff7-324806efa7e5` (string, required) - Unique patient identifier

+ Request (application/json)
    + Headers
            Authorization: Bearer mF_9.B5f-4.1JqM
            api-key: aFBLVTZ6Z2dON1V
            X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

    + Attributes (object)
        + `signed_data`:`ew0KICAicGVyaW9kIjogew0KIC...` (string, required, fixed-type)

+ Response 202 (application/json)
    + Attributes (Response_OK)
        + meta (Response__Meta)
            + code: 202 (number)
        + data (`Job`)

### Dummy create procedure [POST]
This chapter describes the structure of a single procedure creation. This is not an actual web-service.

+ Request (application/json)

    + Headers

            Authorization: Bearer mF_9.B5f-4.1JqM
            X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4
            
    + Attributes (`Procedure_Request`)
 
### Get Procedures by ID [GET /api/patients/{patient_id}/procedures/{id}]
**Scopes required:** `procedure:read`

+ Parameters
    + id: `7075e0e2-6b57-47fd-aff7-324806efa7e5` (string, optional) - Unique procedure identifier

+ Request (application/json)

    + Headers

            Authorization: Bearer mF_9.B5f-4.1JqM
            api-key: aFBLVTZ6Z2dON1V
            X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Response 200 (application/json)
    + Attributes (`Procedure_Response`)

+ Response 404 (application/json)
    + Attributes (Response_Error)
        + meta (Response__Meta)
            + code: 404 (number)
        + error (Response__Error)
            + type: NOT_FOUND (string)
            + message: `Patient not found` (string)

### Get Procedures by search params [GET /api/patients/{patient_id}/procedures{?id,status,episode_id,encounter_id,code,based_on,recorded_by,managing_organization_id,device_id}]
**Scopes required:** `procedure:read`

+ Parameters
    + patient_id: `7075e0e2-6b57-47fd-aff7-324806efa7e5` (string, required) - Unique patient identifier
    + episode_id: `ef30f210-5328-4f48-bfe6-c7150d4737a6` (string, optional) - Unique episode identifier, look into episode in encounter
    + status: completed (enum, optional) - status of procedure
    + used_reference_id: `ef30f210-5328-4f48-bfe6-c7150d4737a6` (string, optional) - Items used during procedure
    + based_on: `ef30f210-5328-4f48-bfe6-c7150d4737a6` (string, optional) - Unique service request identifier
    + `code`: `9075e0e2-6b57-47fd-aff7-324806efa7e6` (string, optional) 
    + `managing_organization_id`: `7075e0e2-6b57-47fd-aff7-324806efa7e5` (string, optional) - Unique legal entity identifier
    + encounter_id: `7075e0e2-6b57-47fd-aff7-324806efa7e5` (string, optional) - Unique encounter identifier
    + `origin_episode_id`: `ef30f210-5328-4f48-bfe6-c7150d4737a6` (string, optional) - Unique episode identifier, look into episode in procedures.origin_episode
    + `device_id`: `ef30f210-5328-4f48-bfe6-c7150d4737a6` (string, optional) - Device identifier

+ Request (application/json)

    + Headers

            Authorization: Bearer mF_9.B5f-4.1JqM
            api-key: aFBLVTZ6Z2dON1V
            X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Response 200 (application/json)
    + Attributes (Response_Collection)
        + data (array[`Procedure_Response`])


### Get Procedure contexts[GET /api/patients/{patient_id}/procedures/{procedure_id}/context]

+ Parameters
    + `patient_id`: `70a9e15b-b71b-4caf-8f2e-ff247e8a5677` (string, required) - Patient identifier
    + `procedure_id`: `a10aeafb-0df2-4091-bc83-f07e92a100ae` (string, required) - Procedure identifier

+ Request (application/json)

    + Headers

            Authorization: Bearer mF_9.B5f-4.1JqM
            X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Response 200 (application/json)
    + Attributes (`Response_OK`)
        + data (`Medical_Event_Context_Episode_with_Origin_Episode_Response`)

### Get Short Procedures by Service Groups [GET /api/patients/{patient_id}/service_groups/procedures{?performed_date_time_from,performed_date_time_to,page,page_size,managing_organization_id,code,status,category,service_group_id}]
**Scopes required:** `procedure:read`

+ Parameters
    + `patient_id`: `7075e0e2-6b57-47fd-aff7-324806efa7e5` (string, required) - Unique patient identifier
    + `service_group_id`: `7075e0e2-6b57-47fd-aff7-324806efa7e5` (string, optional) - Unique service_group identifier
    + `managing_organization`: `7075e0e2-6b57-47fd-aff7-324806efa7e5` (string, optional) - Unique legal entity identifier
    + `status`: `completed` (enum, optional) - status of procedure
    + `category`: `diagnostic_procedure` (string, optional)
    + `code`: `9075e0e2-6b57-47fd-aff7-324806efa7e6` (string, optional) 
    + `performed_date_time_from`: `2000-01-01` (string, optional)
    + `performed_date_time_to`: `2000-01-01` (string, optional)
    + `performed_period_start_from`: `2000-01-01` (string, optional)
    + `performed_period_start_to`: `2000-01-01` (string, optional)
    + `performed_period_end_from`: `2000-01-01` (string, optional)
    + `performed_period_end_to`: `2000-01-01` (string, optional)
    + `page`: 2 (number, optional) - Page number.    
    + `page_size`: 50 (number, optional) - A limit on the number of objects to be returned, between 1 and 100. Default: 50

+ Request (application/json)

    + Headers

            Authorization: Bearer mF_9.B5f-4.1JqM
            api-key: aFBLVTZ6Z2dON1V
            X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Response 200 (application/json)
    + Attributes (Response_Collection)
        + data (array[`Procedure_Short_Response`])


### Cancel Procedure [PATCH /api/patients/{person_id}/procedures/{id}/actions/cancel]

This WS allows to cancel existing procedure and change its status to `entered_in_error` in case of any mistake. The new correct procedure could be created instead.
Method receives signed message (pkcs7) that consists of signed content, digital signature and signer public key. All signature fields will be validated (including signer certificate authority)

**Important**
1. Signed content of procedure must be equal to procedure stored in DB. See [Get Procedure by search params](https://ehealthmedicaleventsapi.docs.apiary.io/#reference/medical-events/procedures/get-procedure-by-search-params)
2. `status_reason` and `explanatory_letter` (optional) must be added to signed content

Please see [Cancel Procedure]() and [Dummy Cancel Procedure for more details


**Scopes required:** `procedure:write`

+ Request (application/json)

    + Headers

            Authorization: Bearer mF_9.B5f-4.1JqM
            api-key: aFBLVTZ6Z2dON1V
            X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4
    
    + Attributes (object)
        + `signed_data`:`ew0KICAicGVyaW9kIjogew0KIC...` (string, required, fixed-type)

+ Response 202 (application/json)
    + Attributes (Response_OK)
        + meta (Response__Meta)
            + code: 202 (number)
        + data (`Job`)

### Dummy Cancel Procedure [PATCH]
+ Request (application/json)

    + Headers

            Authorization: Bearer mF_9.B5f-4.1JqM
            api-key: aFBLVTZ6Z2dON1V
            X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4
    
    + Attributes (Procedure_Request)
        + `status_reason` (Codeable_Concept, required)
            + coding (array, fixed-type)
                + (Coding)
                    + system: `eHealth/procedure_cancel_reasons` (string)
                    + code: `default` (string)
        + `explanatory_letter`: `Процедура була відмінена у зв'язку з помилкою при виборі пацієнта ` (string, optional)
        + `status` : `ENTERED_IN_ERROR` (required) - Status for provided procedure
        + `focal_device` (object, optional) - Manipulated, implanted, or removed device
            + action (Codeable_Concept, optional) - Kind of change to Device
                + coding (array, fixed-type)
                    + (Coding)
                     + system: `procedure_focal_device_actions` (string) 
                     + code: `some_action` (string)
            + manipulated (Reference_request, required) - Implanted Device used for this procedure
                + identifier (Identifier)
                    + type (Codeable_Concept)
                        + coding (array, fixed-type)
                            + (Coding)
                                + code: `device` (string) 
        

+ Response 202 (application/json)
    + Attributes (Response_OK)
        + meta (Response__Meta)
            + code: 202 (number)
        + data (`Job`)


## Specimen [/api/patients/{patient_id}/specimens]

### Create Specimen [POST]
This WS allows to register Specimen by its own. Also Specimen can be registered as a part of [encounter package](https://ehealthmedicaleventsapi.docs.apiary.io/#reference/medical-events/encounter-data-package).
**Scopes required:** `specimen:write`

+ Parameters
    + patient_id: `7075e0e2-6b57-47fd-aff7-324806efa7e5` (string, required) - Unique patient identifier

+ Request (application/json)
    + Headers
            Authorization: Bearer mF_9.B5f-4.1JqM
            api-key: aFBLVTZ6Z2dON1V
            X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

    + Attributes (object)
        + `signed_data`:`ew0KICAicGVyaW9kIjogew0KIC...` (string, required, fixed-type)

+ Response 202 (application/json)
    + Attributes (Response_OK)
        + meta (Response__Meta)
            + code: 202 (number)
        + data (`Job`)

### Dummy create Specimen [POST]
This chapter describes the structure of a single Specimen creation. This is not an actual web-service.

+ Request (application/json)

    + Headers
            api-key: aFBLVTZ6Z2dON1V
            Authorization: Bearer mF_9.B5f-4.1JqM
            X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4
            
    + Attributes (`Specimen_Request`)

### Get Specimen details [GET /api/patients/{patient_id}/specimens/{id}]
**Scopes required:** `specimen:read`

+ Parameters
    + patient_id: `7075e0e2-6b57-47fd-aff7-324806efa7e5` (string, required) - Unique patient identifier
    + id: `7075e0e2-6b57-47fd-aff7-324806efa7e5` (string, required) - Unique specimen identifier

+ Request (application/json)

    + Headers

            Authorization: Bearer mF_9.B5f-4.1JqM
            api-key: aFBLVTZ6Z2dON1V
            X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Response 200 (application/json)
    + Attributes (`Response_OK`)
        + data (`Specimen_Response`)


### Get Specimen by search params [GET /api/patients/{patient_id}/specimens{?type,status,registered_by,collected_from,collected_to,container_identifier,container_type,parent,request,encounter,page,page_size}]
**Scopes required:** `specimen:read`

+ Parameters
    + status: available (string, optional) - status of the Specimen
    + type: ABP (string, optional) - kind of material that forms the Specimen
    + `registered_by`: `ef30f210-5328-4f48-bfe6-c7150d4737a6` (string, optional) - identifier of employee who registered the specimen
    + `collected_from`: `2023-12-25` (string, optional) - the date from which the Specimen was collected
    + `collected_to`: `2023-12-28` (string, optional)  - the date to which the Specimen was collected
    + `container_identifier`: `1-ABC-4311` (string, optional) - identifier of the container in the Specimen
    + `container_type`: tube (string, optional) - type of the container in the Specimen
    + parent: `9075e0e2-6b57-47fd-aff7-324806efa7e6` (string, optional) - parent Specimen 
    + request: `7075e0e2-6b57-47fd-aff7-324806efa7e5` (string, optional) - service request identifier linked to the Specimen
    + encounter: `7075e0e2-6b57-47fd-aff7-324806efa7e5` (string, optional) - encounter/context identifier linked to the Specimen
    + page: 2 (number, optional) - Page number.    
    + `page_size`: 50 (number, optional) - A limit on the number of objects to be returned, between 1 and 100. Default: 50

+ Request (application/json)

    + Headers

            Authorization: Bearer mF_9.B5f-4.1JqM
            api-key: aFBLVTZ6Z2dON1V
            X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Response 200 (application/json)
    + Attributes (Response_Collection)
        + data (array[`Specimen_Response`])

### Get Specimen by accession identifier  [GET /api/specimens/{accession_identifier}]
**Scopes required:** `specimen:read`

+ Parameters
    + accession_identifier: `1234-3224-2342-1233` (string, required) - human readable Specimen number
    
+ Request (application/json)

    + Headers

            Authorization: Bearer mF_9.B5f-4.1JqM
            api-key: aFBLVTZ6Z2dON1V
            X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

+ Response 200 (application/json)
    + Attributes (`Response_OK`)
        + data (`Specimen_Response`)
            + identity (object, required)
                + gender: MALE (enum, required) - gender of the patient, value from the dictionary GENDER
                    - MALE
                    - FEMALE
                + age: 35 (number, required) - full years between inserted_at and birth date
    

### Process Specimen [PATCH /api/patients/{patient_id}/specimens/{id}/actions/process]

This method is used to set a received_time for a Specimen.

It can be processed in async way only, so Server might answer with:
http code| processing method | Client recommendations
--|--|--
202 | async: **default** method | use [Get job details](https://ehealthmedicaleventsapi.docs.apiary.io/#reference/medical-events/encounter-data-package/get-async-job-processing-details) to get processing result. Response payload will be returned in the job details


**Scopes required:** `specimen:process`

+ Parameters
    + patient_id: `aff00bf6-68bf-4b49-b66d-f031d48922b3` (string, required) - Unique patient identifier
    + id: `aff00bf6-68bf-4b49-b66d-f031d48922b3` (string, required) - Unique Specimen identifier

+ Request (application/json)
    + Headers
            Authorization: Bearer mF_9.B5f-4.1JqM
            api-key: aFBLVTZ6Z2dON1V
            X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

    + Attributes (object)
        + `received_time`: `2023-04-20T19:14:13Z` (string, required) - The time when Specimen was received for processing

+ Response 202 (application/json)
    + Attributes (Response_OK)
        + meta (Response__Meta)
            + code: 202 (number)
        + data (`Job`)

### Invalidate Specimen [PATCH /api/patients/{patient_id}/specimens/{id}/actions/invalidate]

This method is used to mark Specimen as unavailable.

It can be processed in async way only, so Server might answer with:
http code| processing method | Client recommendations
--|--|--
202 | async: **default** method | use [Get job details](https://ehealthmedicaleventsapi.docs.apiary.io/#reference/medical-events/encounter-data-package/get-async-job-processing-details) to get processing result. Response payload will be returned in the job details


**Scopes required:** `specimen:invalidate`

+ Parameters
    + patient_id: `aff00bf6-68bf-4b49-b66d-f031d48922b3` (string, required) - Unique patient identifier
    + id: `aff00bf6-68bf-4b49-b66d-f031d48922b3` (string, required) - Unique Specimen identifier
    
+ Request (application/json)
    + Headers
            Authorization: Bearer mF_9.B5f-4.1JqM
            api-key: aFBLVTZ6Z2dON1V
            X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

    + Attributes (object)    
        + `status_reason` (Codeable_Concept, required)
            + coding (array, fixed-type)
                + (Coding)
                    + system: `specimen_invalidate_reasons` (string)
                    + code: `default` (string)

+ Response 202 (application/json)
    + Attributes (Response_OK)
        + meta (Response__Meta)
            + code: 202 (number)
        + data (`Job`)

### Reject Specimen [PATCH /api/patients/{patient_id}/specimens/{id}/actions/reject]

This method is used to mark Specimen as unsatisfactory.

It can be processed in async way only, so Server might answer with:
http code| processing method | Client recommendations
--|--|--
202 | async: **default** method | use [Get job details](https://ehealthmedicaleventsapi.docs.apiary.io/#reference/medical-events/encounter-data-package/get-async-job-processing-details) to get processing result. Response payload will be returned in the job details


**Scopes required:** `specimen:reject`

+ Parameters
    + patient_id: `aff00bf6-68bf-4b49-b66d-f031d48922b3` (string, required) - Unique patient identifier
    + id: `aff00bf6-68bf-4b49-b66d-f031d48922b3` (string, required) - Unique Specimen identifier

+ Request (application/json)
    + Headers
            Authorization: Bearer mF_9.B5f-4.1JqM
            api-key: aFBLVTZ6Z2dON1V
            X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4

    + Attributes (object)    
        + `status_reason` (Codeable_Concept, required)
            + coding (array, fixed-type)
                + (Coding)
                    + system: `specimen_reject_reasons` (string)
                    + code: `default` (string)

+ Response 202 (application/json)
    + Attributes (Response_OK)
        + meta (Response__Meta)
            + code: 202 (number)
        + data (`Job`)

### Cancel Specimen [PATCH /api/patients/{patient_id}/specimens/{id}/actions/cancel]

This method must be used to cancel existing Specimen. Method receives signed message (pkcs7) that consists of signed content, digital signature and signer public key. All signature fields will be validated (including signer certificate authority)

**Important**
1. Signed content of a Specimen must be equal to the Specimen stored in DB. See Get Specimen details
2. status_reason must be added to signed content
3. status must be changed to `entered_in_error` for the purpose of displaying in the signed content

Please see [Specimen status model](https://e-health-ua.atlassian.net/wiki/spaces/EH/pages/17629118869/RC.+Specimen+status+model+EN) and Dummy Cancel Specimen for more details


**Scopes required:** `specimen:cancel`

It can be processed in async way only, so Server might answer with:
http code| processing method | Client recommendations
--|--|--
202 | async: **default** method | use [Get job details](https://ehealthmedicaleventsapi.docs.apiary.io/#reference/medical-events/encounter-data-package/get-async-job-processing-details) to get processing result. Response payload will be returned in the job details

+ Parameters
    + patient_id: `aff00bf6-68bf-4b49-b66d-f031d48922b3` (string, required) - Unique patient identifier
    + id: `aff00bf6-68bf-4b49-b66d-f031d48922b3` (string, required) - Unique Specimen identifier
    
+ Request (application/json)

    + Headers

            Authorization: Bearer mF_9.B5f-4.1JqM
            api-key: aFBLVTZ6Z2dON1V
            X-Custom-PSK: a2aa05c76f3f2d91870f923a53cc8aa8f23bbc01a8238d1c2c26d4299715a7e4
    
    + Attributes (object)
        + `signed_data`:`ew0KICAicGVyaW9kIjogew0KIC...` (string, required, fixed-type)


+ Response 202 (application/json)
    + Attributes (Response_OK)
        + meta (Response__Meta)
            + code: 202 (number)
        + data (`Job`)


### Dummy Cancel Specimen [PATCH /api/patients/{patient_id}/specimens/{id}/actions/cancel/dummy]
+ Parameters
    + patient_id: `aff00bf6-68bf-4b49-b66d-f031d48922b3` (string, required) - Unique patient identifier
[...]
